 <footer>
        <hr class="bordeRojo">
        <p class="colorRojo">Todos los derechos reservados</p>
    </footer>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</html>