{{>header}}
    <h2>Selecciona la tarea a realizar</h2>
    <a href="/coordinador/crear-curso">Crear curso</a><br>
    <a href="/coordinador/listado-cursos">Listado de cursos e inscritos</a><br>
    <a href="/coordinador/eliminar-inscripcion">Eliminar una inscripcion</a><br><br>
    <a href="/">Atras</a><br>
{{>footer}}