{{>header}}
    <h2>listado de inscritos a los cursos</h2>
    {{#if mensaje}}
        <p>{{mensaje}}</p>
    {{/if}}
    {{{listado-inscritos-coordinador}}}
    <a href="/coordinador">Volver</a>
{{>footer}}